{% extends 'base.html' %}
{% block content %}
    <div class="container">

        <table>
            <thead>
            <tr>
                <th>Item</th>
                <th>Date</th>
                <th>Amount</th>
                <th>Total Price</th>
                <th>Return</th>
            </tr>
            </thead>
            <tbody>
            {% for order in order_list %}
                <tr>
                    <form method="post" action="{% url 'refund' %}">
                        {% csrf_token %}
                        <td>{{ order.item }}</td>
                        <td>{{ order.create_date }}</td>
                        <td>{{ order.amount }}</td>
                        <td>${{ order.count_total_price }}</td>
                        <input type="hidden" name="order_id"
                               value="{{ order.id }}">
                        <td>
                            <button>Return</button>
                        </td>
                    </form>
                </tr>

            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}